{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" id="top-profile">
            <img class="image-fluid" id="background-profile"
                 src="https://therightsofnature.org/wp-content/uploads/2018/01/turkey-3048299_1920-1366x550.jpg"/>
            <img id="profile-picture"
                 src="https://i.pinimg.com/originals/97/e4/2a/97e42a82fc7911961d3ca55f54d1372c.jpg"/>
        </div>
        <div class="row" id="profile-menu">
            <h4>Username</h4>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('user_indexuser_account') }}">Mon Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_indexarticle_index') }}">Mes Produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_indextuto_index') }}">Mes Tutoriels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_indexworkshop') }}">Mes Ateliers</a>
            </li>
        </ul>
    </div>


{% endblock %}
