{% extends 'base.html.twig' %}

{% block  body %}


    <div class="backgroundTitle"><h1 class="animated fadeInUp duration-3s  santaTitle">Santa Green</h1><div id="compte_a_rebours"></div></div>



    {% for category in categorys %}
<div class=" boxHomePage container">
    <div class="row align-items-center row ">

        <div class="boxTuto col-6">
            <div class="row no-gutters align-items-end">
                <div class="tutoExemple col-6 m-0"><img class="pictureTuto" src="/images/sapin.jpg"></div>
                <div class="tutoExemple col-6 m-0"><img class="pictureTuto" src="/images/sapin.jpg"></div>
                <div class="tutoExemple col-6 m-0"><img class="pictureTuto" src="/images/sapin.jpg"></div>
                <div class="tutoExemple col-6 m-0"><img class="pictureTuto" src="/images/sapin.jpg"></div>
            </div>
        </div>
        <div class="boxCategory col-6 row"><img class="pictureCategory " src="{{ category.picture}}"></div>

    </div>
</div>

    {% endfor %}


{% endblock %}

