{% extends 'base.html.twig' %}

{% block body %}


    <div class="backgroundTitle"><h1 class="animated fadeInUp duration-3s  santaTitle">Santa Green</h1>
        <h1 id="counter_christmas">Compte à rebours</h1>
        <div id="clockdiv">
            <div>
                <span class="days"></span>
                <div class="smalltext">Jours</div>
            </div>
            <div>
                <span class="hours"></span>
                <div class="smalltext">Heures</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Secondes</div>
            </div>
        </div>
    </div>




    {% for category in categorys %}
<div class=" boxHomePage">
    <div class="row align-items-center row boxHome ">

        <div class="boxTuto col-6">

            <div class="row no-gutters align-items-end">
    {% for tuto in category.tutos |slice(0,4)%}
                <div class="tutoExemple col-6 m-0"><a href="{{ tuto.link }}"><img class="pictureTuto" src="{{ tuto.picture }}"></a></div>
    {% endfor %}
            </div>
        </div>
        <div class="boxCategory col-6 row"><img class="pictureCategory " src="{{ category.picture}}"></div>
    </div>
</div>
    {% endfor %}

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('counter') }}
{% endblock %}

