{% extends 'base.html.twig' %}

{% block  content %}

    {% for category in categorys %}
<div class=" boxHomePage container">
    <div class="row {% if loop.index is divisible by(2) %} flex-row-reverse {% else %} row {% endif %}">
        <div style='border: solid black'class="boxTuto col-6 row">
            <div style='border: solid black'class="tutoExemple col-6">Column</div>
            <div style='border: solid black'class="tutoExemple col-6">Column</div>
            <div style='border: solid black'class="tutoExemple col-6">Column</div>
            <div style='border: solid black'class="tutoExemple col-6">Column</div>
        </div>
        <div style='border: solid black'class="boxCategory col-6">{{ category.name }}</div>
    </div>
</div>
    {% endfor %}


{% endblock %}

