{% extends 'base.html.twig' %}

{% block body %}


    <div class="backgroundTitle"><h1 class="animated fadeInUp duration-3s  santaTitle">Santa Green</h1>
        <h1 id="counter_christmas">Compte à rebours</h1>
        <div id="clockdiv">
            <div>
                <span class="days"></span>
                <div class="smalltext">Jours</div>
            </div>
            <div>
                <span class="hours"></span>
                <div class="smalltext">Heures</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Secondes</div>
            </div>
        </div>
    </div>

    <section class="portfolio-block photography">
        <div class="container">
            <div class="row no-gutters">
                {% for workshop in workshops %}
                    <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a href="{{ path('workshop_show', {'id': workshop.id}) }}"><img class="img-fluid image"
                                                                                      src="{{ workshop.picture }}"/></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>





{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('counter') }}
{% endblock %}

