{% extends 'base.html.twig' %}

{% block title %}Liste des ateliers{% endblock %}

{% block body %}
    <ul>
        {% for workshop in workshops %}
            <li>{{ workshop.name }}</li>
            <img src="{{ workshop.picture }}" alt="">
        {% endfor %}
    </ul>
{% endblock %}
