// assets/css/global.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {

}

.tutoExemple{
  padding: 0px;
  margin: 0px;
}

.boxTuto{
  padding: 0px;
  margin: 0px;

}

.boxCategory{
  padding: 0px;
  margin: 0px;
}

.boxHomePage{
  margin-bottom: 20px;
}