// assets/css/global.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";



.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}




body {
    background-color: white;
    color : white;

}



/************************NAVBAR*************************/
a {
    color : black;
}


.santa{
    height: 80px;
}


.navbar{
    text-decoration: none;
    box-shadow: 0 0 4px 0;
    height: 90px;
    background-image: url("../../public/images/navNoel.png");
}
.navbar a {
    color: white;
    font-size: 1.6em;
    text-shadow: black 1px 0 3px;
    font-family: oblique;
}

.navbar li:hover{
    color: green!important;
}

body {
    background-image: url("../../public/images/christmas.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-size: cover !important;
}
navbar{
    height: 20px;
}
/*****HOME_PAGE******************************/
@font-face {
    font-family: 'merry_christmas_flakeregular';
    src: url('../../public/font/merrychristmasflake-webfont.woff2') format('woff2'),
    url('../../public/font/merrychristmasflake-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.tutoExemple{
    padding: 0px;
    margin: 0px;
}
.boxTuto{
    padding: 0px;
    margin: 0px;
}
.boxCategory{
    padding: 0px;
    margin: 0px;
}
.boxHomePage{
    margin-bottom: 20px;
}
.pictureCategory{
    width: 560px;
}
.backgroundTitle{

    width:100% ;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.santaTitle{
    color:white;
    font-size: 8em;
    align-self: center;
    text-shadow:1px 1px 2px red, 0 0 1em green, 0 0 0.2em green;
    transition-duration: 1s;
    font-family: merry_christmas_flakeregular!important;
}
#compte_a_rebours{
    color:white;
    font-size: 2.5em;
    text-align: center;
}

/*****END_HOME_PAGE******************************/


//show pages

.article-clean .intro p .date {
    padding: 4px 0 4px 10px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
}

.article-clean .intro p a {
    color: #333;
    text-transform: uppercase;
    padding-left: 3px;
}

.article-clean .intro {
    font-size: 16px;
    margin: 0 auto 30px;
}

.img-fluid {
    margin-top: 10%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.btn-workshop {
    margin: 5%;
}






