<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#">
        <div class="santa">
            <div class="circles"></div>
            <div class="snow"></div>
            <div class="hat">
                <div class="hat-end"></div>
            </div>
            <div class="face">
                <div class="eyes"></div>
                <div class="mouth"></div>
            </div>
            <div class="dirty-overflow">
                <div class="body"></div>
            </div>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Objets à recycler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ateliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tutos</a>
            </li>
        </ul>
    </div>
    <div class="monCompte nav-item">
        <a class="nav-link" href="#">Mon compte</a>
    </div>
</nav>
