<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Santa Green{% endblock %}</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>


        {% include '_navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}

        <!-- Footer -->
        <footer class="bg-dark">
            <div class="mt-5 pt-5 pb-5 footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-xs-12 about-company">
                            <h2>Une nouvelle façon de partager</h2>
                            <p class="pr-5 text-white-50">Découvrez une manière amusante et conviviale de partager vos objets usagés et vos connaissances avec SantaGreen </p>
                            <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
                        </div>
                        <div class="col-lg-3 col-xs-12 links">
                            <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                            <ul class="m-0 p-0">
                                <li>- <a href="#">Accueil</a></li>
                                <li>- <a href="#">Test</a></li>
                                <li>- <a href="#">Rejoignez-nous</a></li>

                            </ul>
                        </div>
                        <div class="col-lg-4 col-xs-12 location">
                            <h4 class="mt-lg-0 mt-sm-4">Localisation</h4>
                            <p>118, chemin du bassard 38121 CHONAS L'amballan</p>
                            <p class="mb-0"><i class="fa fa-phone mr-3"></i>06.XX.XX.XX.XX</p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col copyright">
                            <p class="text-center"><small class="text-white-50">© 2019. Christian COLEY, Arthur Engels, Marion Emeric Bourgogne, Laurent Segura, Damien Baudet</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
