{% extends 'account/index.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1 class="h1_christmas">Créer un nouvel article</h1>

    {{ include('user/_article_form.html.twig') }}
    <div class="container">
        <div class="card">
            <h1 class="text-center">Créer un nouvel article</h1>
            {{ include('user/_tuto_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('user_indexarticle_index') }}">Retour</a>
{% endblock %}
