{% extends 'account/index.html.twig' %}

{% block title %}New article{% endblock %}

{% block body %}
    <h1>Create new article</h1>

    {{ include('user/_article_form.html.twig') }}

    <a href="{{ path('user_indexarticle_index') }}">back to list</a>
{% endblock %}
