{% extends 'account/index.html.twig' %}

{% block title %}Modification des tutos{% endblock %}

{% block body %}
    <h1>Modifier le tuto</h1>

    {{ include('user/_tuto_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tuto') }}">Retour</a>

    {{ include('user/_tuto_delete_form.html.twig') }}
{% endblock %}
