{% extends 'account/index.html.twig' %}

{% block title %}Edit Tuto{% endblock %}

{% block body %}
    <h1>Edit Tuto</h1>

    {{ include('user/_tuto_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tuto') }}">back to list</a>

    {{ include('user/_tuto_delete_form.html.twig') }}
{% endblock %}
