{% extends 'account/index.html.twig' %}

{% block title %}New Workshop{% endblock %}

{% block body %}
    <h1>Create new Workshop</h1>

    {{ include('user/_workshop_forn.html.twig') }}

    <a href="{{ path('user_indexworkshop') }}">back to list</a>
{% endblock %}
