{% extends 'account/index.html.twig' %}

{% block title %}Edit Workshop{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Edit Workshop</h1>

    {{ include('user/_workshop_form.html.twig.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_indexworkshop_index') }}">back to list</a>

    {{ include('user/_workshop_delete_form.html.twig') }}
{% endblock %}
